/*
Error: Inconsistent indentation: 4 spaces were used for indentation, but the rest of the document was indented using 1 tab.
        on line 3 of /Applications/XAMPP/xamppfiles/htdocs/game-3/admin/login.php

1: <?php
2: 	require_once("connection.php");
3:     $connection = new connection;
4: 
5:     $user = $_POST["username"];
6:     $password = $_POST["password"];
7: 	$consulta = "SELECT * FROM jugadores WHERE name_player = '$user' AND pass_player = '$password'";
8: 	$response = mysqli_query($connection->connected,$consulta);

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/game-3/admin/login.php:3
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:486:in `block in tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 4 spaces were used for indentation, but the rest of the document was indented using 1 tab.\A         on line 3 of /Applications/XAMPP/xamppfiles/htdocs/game-3/admin/login.php\A \A 1: <?php\A 2: 	require_once(\"connection.php\");\A 3:     $connection = new connection;\A 4: \A 5:     $user = $_POST[\"username\"];\A 6:     $password = $_POST[\"password\"];\A 7: 	$consulta = \"SELECT * FROM jugadores WHERE name_player = '$user' AND pass_player = '$password'\";\A 8: 	$response = mysqli_query($connection->connected,$consulta);"; }
